<div class="all_buddies">Find your Booze Buddy!</div>

<div class="each_buddy">
<ul>
  <% @users.each do |u| %>
  <li style="list-style-type: none;"><%= link_to u.name, u %></li>
  <% end %>
</ul>
</div>
