<div class="zc_liquor_stores"><%= @neighborhood.name %>'s Liquor Store</div>
<div class="each_zc_liquor_stores">
<ul>
  <% @neighborhood.liquor_stores.each do |ls| %>
    <li style="list-style-type: none;" ><%= link_to ls.name, ls %></li>
  <% end %>
</ul>
</div>
